.kintaro-about {
    display: flex;
    flex-wrap: wrap;
    gap: var(--kintaro-gap-lg);
    align-items: center;
    justify-content: center;
    padding: 100px var(--kintaro-gap-md);
    min-height: 60vh;
    background-image: url(/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.kintaro-about::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, var(--kintaro-color-2), transparent);
    pointer-events: none;
}

.kintaro-about-elements {
    display: flex;
    flex-direction: column;
    gap: var(--kintaro-gap-sm);
    max-width: 700px;
    flex: 1;
}

.kintaro-about-image {
    max-width: 300px;
    aspect-ratio: 1/1;
}

@media (max-width: 768px) {
    .kintaro-about {
        flex-direction: column;
    }

    .kintaro-about-elements {
        justify-content: center;
        align-items: center;
    }

    .kintaro-about-image {
        max-width: 150px;
    }
}