:root {
    --navbar-height: 50px;
    --navbar-z-index: 900;
}

body {
    min-height: 2000px;
}

.kintaro-xahzy {
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kintaro-plmvu {
    width: 200px;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.kintaro-qwert,
.kintaro-bnzkt {
    padding: 0 1rem;
    user-select: none;
    color: var(--kintaro-text-color-1);
    text-align: center;
    text-shadow: var(--kintaro-text-shadow);
    font-size: var(--kintaro-font-md);
}

.kintaro-bnzkt {
    color: var(--kintaro-text-color-2);
}

.kintaro-container {
    background: radial-gradient(circle at center, hsla(0, 0%, 100%, .10) 1px, transparent 0) 0 0 /16px 16px, linear-gradient(90deg, hsla(0, 0%, 100%, .05), transparent);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: var(--kintaro-gap-sm);
    width: 100%;
    height: 100%;
    min-height: 100dvh;
}


@media (max-width: 768px) {
    .kintaro-container{
        padding-bottom: var(--navbar-height);
    }
    .kintaro-xahzy {
        min-height: calc(100vh - calc(var(--navbar-height) * 2));
    }
}

.kintaro-explore {
    padding: var(--kintaro-gap-md);
    gap: var(--kintaro-gap-lg);
    display: flex;
    flex-direction: column;
     
    background-image: url(/1.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
    padding: 100px 0;
}

.kintaro-explore-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}